
#brt-fab-button {
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 500;
  font-size: 12px;
  color: #333;
  width: 40px !important;
  height: 40px !important;
}